<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vote for the Best Movie</title>
</head>
<body>
    <form action="voteForBestMovie" method="GET">
        <p>Movie Title: <input type="text" name="movieTitle" /></p>
        <p><input type="submit" value="submit" /></p>

    </form>

    <form action="voteForBestMovie" method="PUT">
        <p>Your name: <input type="text" name="voterName"></p>
        <select name="movieId">
            <option value="0">select movie</option>
            <option th:each="movie: ${movies}" th:value="${movie.id}" th:text="${movie.title}"></option>
        </select>
        <input type="Submit">
    </form>
    <p th:text="'Your favorite movie is: ' + ${BestMovieVote}"></p>
</body>
</html>